<h1>Lista prodotti:</h1>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr class="fw-bold">
        <td>Codice</td>
        <td>Descrizione</td>
        <td>UM</td>
        <td>PZCART</td>
        <td>Peso</td>
        <td>Prezzo</td>
        <td>Attivo</td>
        <td>Data</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let articolo of articoli">
        <td>{{ articolo.codart }}</td>
        <td class="fw-bold">{{ articolo.descrizione }}</td>
        <td>{{ articolo.um }}</td>
        <td>{{ articolo.pzcart }}</td>
        <td>{{ articolo.peso }}</td>
        <td>{{ articolo.prezzo | currency: 'EUR' }}</td>
        <td>{{ articolo.attivo ? 'si' : 'no' }}</td>
        <td>{{ articolo.data | date : 'short' }}</td>
      </tr>
    </tbody>
  </table>
</div>
